h1{
    color: #b80000;
    margin:30px;
    font-family: sans-serif;
}

h2{
    color: blue;
    margin:30px;
    font-family: sans-serif;
}

.item{
    color: black;
    margin:30px;
    font-family: sans-serif;
}

.header{
    background-color: #989595;
    display:flex;
    justify-content:space-between;
}

.grid {
    background-color: #989595;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer {
    background-color: #989595;
    display:flex;
    justify-content: flex-end;
}
p,h2{
    background-color: #989595;
    text-align: center;
}

a:link{
    color:blue;
}

a:visited{
    color:purple;
}

.item{
    position:relative;
}

.item p{
    position:absolute;
    top:50%;
    left:50%;
    opacity:0;
}

.item:hover p{
    opacity:1
}

